.login-container {
  width: 100%;
  height: 100%;
  max-width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    margin-bottom: 40px;
    font-size: 24px;
    color: #333;
  }

  .login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  .login-btn-group {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;

    &.login {
      background-color: #a13d3f;
      color: white;

      &:hover {
        background-color: #692728;
        box-shadow: none;
        transform: none;
      }
    }

    &.close {
      background-color: #6c757d;
      color: white;

      &:hover {
        background-color: #5a6268;
        box-shadow: none;
        transform: none;
      }
    }
  }
}
