
.select-background {
  height: 100vh;
  background-image: url('../../../public/stone-wall.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;

  align-items: center;
  z-index:0;
  font-family: 'Nanum Gothic', sans-serif;
}


.select-container {
  width: 80%;
  max-width: 600px;
  max-height: 800px;
  padding: 40px 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  z-index:1;
  overflow:hidden;

  background-image: radial-gradient(circle, rgba(0,0,0,0.02) 1px, transparent 1px);
  background-size: 5px 5px;
}

.select-toggle-container {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
}

.select-map {
  width: 600px;
  height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}
.tape {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-10%, 50%); 
  width: 500px;
  height: 100px;
 
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10; 
}

/* 마커 던지기 버튼 스타일 */
.select-marker-btn {
  position: absolute;
  bottom: 5%;
  right: center;
  padding: 14px 28px;
  background-color: #a13d3f; 
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  border: none; 
  border-radius: none;
  cursor: pointer;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none; 
  transition: transform 0.3s ease;
  flex-direction: column;

  &:hover {
    transform: translateY(-3px);
  }

  &.active {
    animation: throwMarker 1s ease-out forwards;
  }

  img {
    position: absolute;
    width: 90px; 
    height: 90px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 1;
  }

  span {
    z-index: 2;
    color: white; 
    font-size: 18px;
    font-weight: bold;
  }
}


@keyframes throwMarker {
  0% {
    transform: translate(0, 0) scale(1) rotate(0deg);
    opacity: 1;
  }
  30% {
    transform: translate(0, -100px) scale(1.2) rotate(10deg); /* 약간의 크기 증가 및 회전 */
    opacity: 0.9;
  }
  60% {
    transform: translate(0, -200px) scale(0.8) rotate(30deg); /* 빠르게 위로 이동, 작아지면서 회전 */
    opacity: 0.7;
  }
  100% {
    transform: translate(0, -500px) scale(0.5) rotate(60deg); /* 더 멀리 직선으로 날아가면서 사라짐 */
    opacity: 0;
  }
}


.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}



.select-toggle-container button {
  padding: 12px 24px;
  background-color: #a13d3f;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: white;
  transition: all 0.3s ease; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
  letter-spacing: 1px;
  margin: 0 10px;
}

.select-toggle-container button.on {
  background-color: #e45e4f;
  color: #fff;
  box-shadow: 0 8px 16px rgba(231, 76, 60, 0.4);  
}



.select-toggle-container button:hover {
  background-color: #c0392b;
  transform: translateY(-2px); 
  box-shadow: 0 8px 16px rgba(192, 57, 43, 0.3);
}